body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f9;
}

h1 {
    color: black;
}

#start-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#start-button:hover {
    background-color: #007BFF;
}

#qcm {    
    margin-top: 20px;
}

.question {
    display: none;
}

.question.active {
    display: block;
}

button.answer {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.answer:hover {
    background-color: #0056b3;
}

#next-button {
    margin-top: 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#next-button:hover {
    background-color: #218837;
}
